doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include ../includes/head-article
    meta(name="description" content="Afinal, eventualmente precisamos 'ser carregados' para ganhar as partidas. Aprenda a facilitar o trabalho de seus aliados.")
    meta(name="twitter:description" content="Afinal, eventualmente precisamos 'ser carregados' para ganhar as partidas. Aprenda a facilitar o trabalho de seus aliados.")
    meta(property="og:description" content="Afinal, eventualmente precisamos 'ser carregados' para ganhar as partidas. Aprenda a facilitar o trabalho de seus aliados.")
    title aprenda a "ser carregado" nos jogos - kevin quintino
    meta(name="twitter:title" content="aprenda a 'ser carregado' nos jogos")
    meta(property="og:title" content="aprenda a 'ser carregado' nos jogos")
    meta(name="twitter:image" content="http://blog.kevinnicolasbq.com/img/feature-images/aprenda-a-ser-carregado-nos-jogos-kevin-quintino-kevinnicolasbq.png")
    meta(property="og:image" content="http://blog.kevinnicolasbq.com/img/feature-images/aprenda-a-ser-carregado-nos-jogos-kevin-quintino-kevinnicolasbq.png")
    meta(property="article:section" content="esports")
    meta(property="article:tag" content="ser carregado nos jogos, esports, competitivo, ganhar mais partidas, carry")
    meta(property="article:published_time" content="2020-02-16")
    meta(property="og:url" content="https://blog.kevinnicolasbq.com/artigos/aprenda-a-ser-carregado-nos-jogos.html")
    meta(name="twitter:url" content="https://blog.kevinnicolasbq.com/artigos/aprenda-a-ser-carregado-nos-jogos.html")
    link(rel="canonical" href="https://blog.kevinnicolasbq.com/artigos/aprenda-a-ser-carregado-nos-jogos.html")
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-N8WW2TZ' height='0' width='0' style='display:none;visibility:hidden')
    .blog
        header.blog__header
          a.link(href="https://blog.kevinnicolasbq.com/")
            img(src="../img/logomark.svg" alt="logomarca")
          h1.blog__header__name #[mark kevin quintino]
          a.link(href="https://kevinnicolasbq.com/")
            input.blog__header__portfolio.primary-button(type="button" value="confira meu portfolio" tabindex="-1")
        section.blog__article-page
          article.blog__article-page__content
            h1 aprenda a "ser carregado" nos jogos
            text publicado em #[strong 16 de setembro de 2020], por #[a.link(rel="external noopener" target="_blank" href="https://www.linkedin.com/in/kevinnicolasbq/") #[strong kevin quintino]] - 3 minutos de leitura.
            hr
            p
              strong afinal, todos temos aquelas eventuais partidas ou dias onde você não consegue performar bem, seja por ter sido 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em counterado
                | , por estar 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em tiltado
                | , dentre outros motivos. Nestes dias, facilite a vida de seus aliados, saiba como ser carregado.
            h2 o que é “ser carregado”?
            p Antes de tudo, o que é “ser carregado”? Apesar de ser um termo extremamente comum na comunidade 
              em gamer
              | , algumas pessoas desconhecem o significado dele.
              | Frases como “Ser carregado”, “Subir na mochila”, dentre outras, significam que você ganhou a partida não por mérito próprio, mas sim por mérito de um ou mais jogadores aliados, que conseguiram performar bem o suficiente para compensar a falta de performance que você teve.
            h2 como ser carregado
            p Enfim, agora que você já sabe o que é “ser carregado”, como você pode facilitar o trabalho do seu time de te carregar?
            h3
              | evitando o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em feeding
              |  (
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em MOBAs
              | )
            | 
            p “
              a.link(href='https://www.youtube.com/watch?v=Go12sSMhSmE' target='_blank' rel='external noopener') Se manter vivo é a chave para carregar
              | ” — Gabriel “
              em Kami”
              |  Bohm
              | Inegavelmente, evitar dar recursos fáceis aos inimigos é um grande auxílio, porém, como fazer isso sendo que você está em uma dia ruim?
              | Nos 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em MOBAs
              | , o principal fator de você acabar morrendo, é tentar jogadas. Sendo assim, uma forma fácil — porém chata — de evitar o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em feeding
              | , é não tentar criar jogadas e ficar apenas 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em farmando
              |  na segurança de sua torre.
              | Outras formas de 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em feeding
              | , como por exemplo, ser pego fora de posição, também devem ser evitadas. Basicamente, para evitar o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em feeding
              |  você deve jogar 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em safe
              | , evitar criar jogadas, apenas jogar no ritmo da partida.
            h3 oferecendo informações
            p Então, como o seu jogo não terá muitas “emoções”, você terá mais tranquilidade para prestar atenção no que está acontecendo na partida, principalmente no 
              a.link(href='https://segredosdosensei.com.br/a-importancia-do-minimapa/' target='_blank' rel='external noopener') minimapa
              | . Sendo assim, por que não avisar seu time de possíveis ações que os oponentes desejem tomar?
            ul
              li
                | Avisar sobre um 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em gank
                |  (
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em MOBA
                | );
              li
                | o 
                a.link(href='https://segredosdosensei.com.br/a-importancia-do-minimapa/' target='_blank' rel='external noopener')
                  em MIA
                |  de algum jogador, em especial, seu oponente de rota (
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em MOBA
                | );
              li
                | um objetivo que possa ter sido iniciado pelos oponentes (
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em MOBA
                | );
              li
                | granadas feitas pelo time oponentes (
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em FPS
                | );
              li
                | quantos jogadores estão em determinado 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em bombsite
                |  (
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em FPS
                | ).
            p Enfim, qualquer informação que você tiver e considerar relevante para seus aliados, informe-os.
            h3
              | seguindo 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em calls
            p Afinal, você provavelmente não estará em condição de ser um 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em shotcaller
              | . Então, fique atento às 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em calls
              |  dos aliados que estão melhor performando na partida, siga-as mesmo que duvide da qualidade delas.
              | Você, entretanto, pode sugerir 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em calls
              | . Por exemplo:
            ul
              li
                | Ao visualizar que existem muitos oponentes na 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em bot-lane
                | , pergunte ao seu time se eles gostariam de iniciar o 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em Baron Nashor
                | , ou levar a torre da 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em top-lane
                | . (
                a.link(href='https://pt.wikipedia.org/wiki/League_of_Legends' target='_blank' rel='external noopener')
                  em LoL
                | )
              li
                | Ao visualizar que existem muitos oponentes (
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em CTs
                | ) defendendo o 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em bombsite
                |  B, pergunte ao seu time se eles concordam que é melhor ir para o 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em bombsite
                |  A.
            h3 dialogando e comunicando
            p Sobretudo, dialogue com seus aliados, mantenha uma comunicação com eles. Isso ajudará tanto você a entender o objetivo/plano de jogo deles, quanto eles à entenderem as dificuldades que você está passando, facilitando com que vocês decidam como se ajudarem.
            p Porém, evite discussões irrelevantes. Se — em sua tentativa de diálogo — algum aliado começar a ser tóxico com você, não retribua a toxicidade, ignore-o e dialogue com os outros. Se todos os seus aliados forem tóxicos com você, continue informado-os, mas evite dialogar diretamente com um deles e, se possível, 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em mute-os
              | .
            h2 próximos passos
            p Sendo assim, busque aplicar estes métodos da próxima vez que você estiver em uma situação onde só irá ganhar se for “carregado”. Lembre-se de que eles também se aplicam à partidas nas quais você começou com um desempenho ruim, porém, quer se redimir com seus aliados e ganhar a partida. Boa sorte em sua jornada, pequenx gafanhotx, see ya!

            h2 referências
            cite -
            hr
          //.blog__article-page__share
            p compartilhe este artigo no:
            a.link(href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" rel="noopener" target="_blank") twitter
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") facebook
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") linkedin
    footer.footer
      .footer__social-media
        p.footer__social-media__text confira minhas redes sociais
        .footer__social-media__links
          a.footer__social-media__links__link(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
          a.footer__social-media__links__link(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
          a.footer__social-media__links__link(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
          a.footer__social-media__links__link(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
      .footer__message
        p.footer__message__text feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.