doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include ../includes/head-article
    meta(name="keywords" content="Kevin Quintino, Kevin, Nicolas, Bueno, Quintino, Kevin Nicolas Bueno Quintino, kevinnicolasbq, knbq, ux designer, user experience designer, blog")
    meta(name="description" content="Oi, meu nome é Kevin. Eu projeto e desenvolvo experiências de usuário satisfatórias e memoráveis. Confira meu blog...")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="blog - kevin quintino")
    meta(name="twitter:description" content="Oi, meu nome é Kevin. Eu projeto e desenvolvo experiências de usuário satisfatórias e memoráveis. Confira meu blog...")
    meta(name="twitter:image" content="https://i.imgur.com/0Z2Cyab.png")
    meta(property="og:title" content="blog - kevin quintino")
    meta(property="og:description" content="Oi, meu nome é Kevin. Eu projeto e desenvolvo experiências de usuário satisfatórias e memoráveis. Confira meu blog...")
    meta(property="og:url" content="https://kevinnicolasbq.com/")
    meta(property="og:image" content="https://i.imgur.com/0Z2Cyab.png")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="628")
    title blog - kevin quintino
  body
    .blog
      header.blog__header
        img(src="../img/logomark.svg" onclick="toHome()" alt="logomarca")
        h1.blog__header__name
          span kevin quintino
        input.blog__header__portfolio.primary-button(type="button" value="confira meu portfolio")
      section.blog__article-page
        article.blog__article-page__content
          h1 A importância e utilidade do minimapa nos jogos
          text Publicado em #[strong 02 de setembro de 2020], por #[strong Kevin Quintino] - 15 minutos de leitura.
          hr
          h2 teste de subtítulo
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate iusto ea ullam ratione eius. Maiores libero blanditiis repudiandae. Porro praesentium quo vel asperiores dolorum incidunt quibusdam reprehenderit eligendi unde aliquam libero esse ad accusamus, nemo obcaecati repellendus ipsum eaque iure non iusto? Voluptates fugiat quaerat modi in veniam doloribus sint!
          h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aliquid pariatur placeat repudiandae aperiam doloremque!
          h4 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit debitis neque similique amet optio distinctio esse #[strong modi vitae? Repellat voluptates dolor perferendis] dolores consequuntur harum similique, cum a magni aliquid id nostrum voluptatibus aspernatur inventore!
          h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          p Lorem, ipsum dolor.
          h6 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse ducimus repellat odit.
          ul
            li teste
            li teste
            li teste
          cite (PRESSMAN, 1998)
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, maxime ipsam. Saepe facilis, unde explicabo commodi #[a(href="#") eaque blanditiis] nemo ipsam rerum temporibus dolorem consectetur vel. Architecto magni ea hic reprehenderit?
          h2 referências
          hr
        .blog__article-page__share
          p compartilhe este artigo no:
          a(href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" rel="noopener" target="_blank") twitter
          a(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") facebook
          a(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") linkedin

            
  footer.footer
    .footer__social-media
      p.footer__social-media__text confira minhas redes sociais
      .footer__social-media__links
        a.footer__social-media__links__link(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
          i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
        a.footer__social-media__links__link(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
          i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
        a.footer__social-media__links__link(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
          i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
        a.footer__social-media__links__link(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
          i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
    .footer__message
      p.footer__message__text feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.