doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include ../includes/head-article
    meta(name="description" content="Conheça alguns dos inúmeros benefícios que este simples - e, sem dúvidas, prazeroso - hábito pode te proporcionar. Saiba porque acompanhar os eSports.")
    meta(name="twitter:description" content="Conheça alguns dos inúmeros benefícios que este simples - e, sem dúvidas, prazeroso - hábito pode te proporcionar. Saiba porque acompanhar os eSports.")
    meta(property="og:description" content="Conheça alguns dos inúmeros benefícios que este simples - e, sem dúvidas, prazeroso - hábito pode te proporcionar. Saiba porque acompanhar os eSports.")
    title conheça os benefícios de acompanar os eSports - kevin quintino
    meta(name="twitter:title" content="conheça os benefícios de acompanar os eSports")
    meta(property="og:title" content="conheça os benefícios de acompanar os eSports")
    meta(name="twitter:image" content="http://blog.kevinnicolasbq.com/img/feature-images/conheca-os-beneficios-de-acompanhar-os-esports-kevin-quintino-kevinnicolasbq.png")
    meta(property="og:image" content="http://blog.kevinnicolasbq.com/img/feature-images/conheca-os-beneficios-de-acompanhar-os-esports-kevin-quintino-kevinnicolasbq.png")
    meta(property="article:section" content="esports")
    meta(property="article:tag" content="beneficios de assistir esports, beneficio dos esports, beneficos de acompanhar os esports, esports, porque acompanha esports, competitivo, cenário competitivo")
    meta(property="article:published_time" content="2020-02-24")
    meta(property="og:url" content="https://blog.kevinnicolasbq.com/artigos/beneficios-de-acompanhar-os-esports.html")
    meta(name="twitter:url" content="https://blog.kevinnicolasbq.com/artigos/beneficios-de-acompanhar-os-esports.html")
    link(rel="canonical" href="https://blog.kevinnicolasbq.com/artigos/beneficios-de-acompanhar-os-esports.html")
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-N8WW2TZ' height='0' width='0' style='display:none;visibility:hidden')
    .blog
        header.blog__header
          a.link(href="https://blog.kevinnicolasbq.com/")
            img(src="../img/logomark.svg" alt="logomarca")
          h1.blog__header__name #[mark kevin quintino]
          a.link(href="https://kevinnicolasbq.com/")
            input.blog__header__portfolio.primary-button(type="button" value="confira meu portfolio" tabindex="-1")
        section.blog__article-page
          article.blog__article-page__content
            h1 conheça os benefícios de acompanar os eSports
            text publicado em #[strong 24 de setembro de 2020], por #[a.link(rel="external noopener" target="_blank" href="https://www.linkedin.com/in/kevinnicolasbq/") #[strong kevin quintino]] - 2 minutos de leitura.
            hr
            p 
              strong Os 
                a.link(href='https://pt.wikipedia.org/wiki/Esporte_eletr%C3%B4nico' target='_blank' rel='external noopener')
                  em eSports
                |  estão evoluindo e crescendo cada vez mais. Estar entre os melhores vem sendo o principal objetivo dos jogadores, cada vez mais jogadores e equipes competitivas surgem. Saiba por que acompanhar os eSports.
            h2 benefícios de acompanhar os eSports
            p Acompanhar o cenário competitivo de seu(s) jogo(s) favorito(s) é vantajoso. Este é um hábito que reflete diretamente na sua relação com o jogo, em diversos aspectos, tais como:
            h3 conexão com o jogo
            p Similarmente com o que acontece nos esportes tradicionais, ao acompanhar os campeonatos, você acaba sendo torcedor de algum time. Pode ser que você se torne um torcedor fanático deste time, ou apenas alguém que fica feliz quando ele vence.
            p Isso fortalece a conexão entre você e o jogo, pois isso gera uma conexão emocional, que como qualquer conexão emocional, possui uma força enorme.
            h3 conhecimento sobre o jogo
            p Certamente, os jogos que você assistirá serão entre jogadores extremamente experientes, os chamados, 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em pro players
              | . Sendo assim, se você conseguir efetuar boas análises nas partidas, você irá aprender muito.
              | Entretanto, se você não se considera um bom analista, preste atenção nos comentaristas e analistas. Deixe que eles façam este trabalho e te comuniquem o que notaram.
            h3 inclusão na comunidade
            p Naturalmente, o ser humano sente uma necessidade de pertencer a um grupo. Embora virtuais, as comunidades de games — principalmente os que fazem parte dos eSports — são bem populosas, diversas e ativas.
            p Sendo assim, fazer parte de uma delas pode te proporcionar novos amigos, seguidores e até mesmo fãs. Estas comunidades ajudaram e continuam ajudando diversas pessoas, que rejeitadas pela sociedade, ou ignoradas pelos familiares, buscam nelas (comunidades) um refúgio.
            h2 próximos passos
            p Afinal, consegui te convencer a acompanhar os eSports? Espero que sim. Experimente acompanhar algum campeonato, verifique se os benefícios listados acima são realmente oferecidos. Certamente, você notará estes e diversos outros. Boa sorte em sua jornada, pequenx gafanhotx, see ya!
            h2 referências
            cite -
            hr
          //.blog__article-page__share
            p compartilhe este artigo no:
            a.link(href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" rel="noopener" target="_blank") twitter
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") facebook
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") linkedin
              
    footer.footer
      .footer__social-media
        p.footer__social-media__text confira minhas redes sociais
        .footer__social-media__links
          a.footer__social-media__links__link(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
          a.footer__social-media__links__link(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
          a.footer__social-media__links__link(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
          a.footer__social-media__links__link(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
      .footer__message
        p.footer__message__text feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.