doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include ../includes/head-article
    meta(name="description" content="Aprenda a se comunicar melhor e passar informações de qualidade aos seus aliados, trazendo uma enorme vantagem competitiva.")
    meta(name="twitter:description" content="Aprenda a se comunicar melhor e passar informações de qualidade aos seus aliados, trazendo uma enorme vantagem competitiva.")
    meta(property="og:description" content="Aprenda a se comunicar melhor e passar informações de qualidade aos seus aliados, trazendo uma enorme vantagem competitiva.")
    title aprenda como melhorar sua comunicação dentro de jogo - kevin quintino
    meta(name="twitter:title" content="aprenda como melhorar sua comunicação dentro de jogo")
    meta(property="og:title" content="aprenda como melhorar sua comunicação dentro de jogo")
    meta(name="twitter:image" content="http://blog.kevinnicolasbq.com/img/feature-images/aprenda-como-melhorar-sua-comunicacao-nos-jogos-kevin-quintino-kevinnicolasbq.png")
    meta(property="og:image" content="http://blog.kevinnicolasbq.com/img/feature-images/aprenda-como-melhorar-sua-comunicacao-nos-jogos-kevin-quintino-kevinnicolasbq.png")
    meta(property="article:section" content="esports")
    meta(property="article:tag" content="comunicação, esports, melhorar a comunicação, comunicar melhor, troca de informações, comunicação nos jogos")
    meta(property="article:published_time" content="2020-03-21")
    meta(property="og:url" content="https://blog.kevinnicolasbq.com/artigos/comunicacao-nos-jogos.html")
    meta(name="twitter:url" content="https://blog.kevinnicolasbq.com/artigos/comunicacao-nos-jogos.html")
    link(rel="canonical" href="https://blog.kevinnicolasbq.com/artigos/comunicacao-nos-jogos.html")
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-N8WW2TZ' height='0' width='0' style='display:none;visibility:hidden')
    .blog
        header.blog__header
          a.link(href="https://blog.kevinnicolasbq.com/")
            img(src="../img/logomark.svg" alt="logomarca")
          h1.blog__header__name #[mark kevin quintino]
          a.link(href="https://kevinnicolasbq.com/")
            input.blog__header__portfolio.primary-button(type="button" value="confira meu portfolio" tabindex="-1")
        section.blog__article-page
          article.blog__article-page__content
            h1 aprenda como melhorar sua comunicação dentro de jogo
            text publicado em #[strong 21 de março de 2020], por #[a.link(rel="external noopener" target="_blank" href="https://www.linkedin.com/in/kevinnicolasbq/") #[strong kevin quintino]] - 5 minutos de leitura.
            hr
            p
              strong
                | inegavelmente, a comunicação é um dos fatores mais importantes e decisivos dentro de jogos em equipe. Entretanto, nem sempre a fazemos de forma ideal — isso quando a fazemos. Neste artigo, abordarei alguns fatores e métodos que irão te auxiliar a melhorar a comunicação, tornando-a maneira efetiva, e passando informações de qualidade.
            h2 definição
            p
              | Inicialmente, é preciso saber o que é comunicação e de quais formas ela pode ser feita (dentro do escopo dos eSports).
            p
              | A comunicação (do latim 
              em communicatio.onis 
              | [
              a.link(href='https://www.dicio.com.br/comunicacao/') Dicio
              | ], que significa “ação de participar”) 
              strong
                | é um processo que envolve a troca de informações entre dois ou mais interlocutores
              |  […].
            p
              | Para os tópicos que abordaremos neste artigo, esta definição é suficiente. Entretanto, comunicação é um tema muito amplo, interessante e importante nos eSports, estudá-lo de forma mais aprofundada pode ser muito benéfico para você.
            h2 tipos de comunicação
            p
              | Existem diversos tipos de comunicação (verbal, não-verbal) além de alguns formatos da comunicação humana (intrapessoal, interpessoal, grupal, organizacional e social).
            p
              | Nos eSports — e mais especificadamente, dentro da partida — os mais comuns são o tipo de comunicação verbal nos formatos intrapessoal, interpessoal e grupal. Portanto, eles serão nosso foco.
            p Definindo de maneira simplificada:
            ul
              li A comunicação verbal é a realizada pela linguagem falada ou escrita;
              li a forma intrapessoal é a realizada consigo, por exemplo, o pensamento;
              li
                | a interpessoal, é a realizada entre dois indivíduos dentro de um pequeno e informal grupo, como por exemplo seu 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em duo
                | ;
              li
                | a grupal, como o próprio nome sugere, é a realizada entre grupos pequenos ou médios, porém formais, como por exemplo uma equipe, podendo envolver até a comissão técnica.
            p
              | Neste último caso, os grupos mantêm uma relação interpessoal direta de comunicação, cujos comportamentos estão determinados pelas personalidades ou 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em roles
              |  que desempenham dentro.
            h2 qualidade
            p
              | Então, após saber a definição de comunicação, 
              strong precisamos saber quais são as características de uma comunicação de qualidade
              | . Estas estão relacionadas à aspectos pessoais, físicos e tecnológicos.
            p
              | Em nosso escopo (eSports), a comunicação é originada de um jogador (comunicador), que se utiliza de um teclado, mouse ou headset (meio de comunicação) para se comunicar com outro jogador da mesma equipe (receptor).
            p Para que a comunicação seja bem-sucedida, é necessário que o:
            ul
              li
                | Comunicador tenha uma boa dicção, saiba manipular os dados de forma a transmitir informações de qualidade e possua atitude.
              li Meio de comunicação seja de qualidade e esteja funcionando corretamente.
              li
                | Receptor seja um bom ouvinte, interpretador, crítico e capaz de tomar decisões a partir das informações recebidas.
            p
              | Considerando que, 
              strong
                | nos eSports, o principal objetivo da comunicação é a transmissão/troca de informações
              | , precisamos saber as características que uma informação deve ter. Uma informação de qualidade deve ser:
            ul
              li
                | Precisa/confiável: Correta, verdadeira, não permite ambiguidade ou interpretações diferentes da que você deseja que ela tenha.
              li
                | Oportuna/relevante: Disponível/transmitida no local e momento, quando e se necessária.
              li Concisa: Breve, resumida, sintética, clara.
              li Completa: Contém todos os fatos importantes.
            h2 formas de comunicação nos eSports
            h3
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em chat
            p
              | A forma de comunicação mais básica — que está presente em todos os jogos em equipe — é a digitação.
            p
              | A maioria dos jogadores têm uma visão negativa sobre o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em chat
              | , pois — segundo eles — além de ineficiente, a maioria dos jogadores só o utilizam para serem 
              a.link(href='https://segredosdosensei.com.br/toxicidade-nos-jogos/' target='_blank' rel='external noopener') tóxicos
              | . Entretanto, se bem utilizado, ele pode ser de grande utilidade.
            h3
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em voice chat
              |  (chat de voz)
            p
              | Outra forma de comunicação comum nos jogos, consiste em — ao pressionar/segurar determinada tecla —você, através de seu microfone, se comunicar com seus aliados.
            h3
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em pings
              | (alertas)
            figure
              img.alignnone.size-full.wp-image-457(src='../img/content-images/ping-wheel-league-of-legends-kevin-quintino-kevinnicolasbq.jpg' alt="menu de seleção de 'pings' do jogo league of legends" width='740' height='350')
            figcaption(style='text-align: center;')
              | Roda de pings, 
              a.link(href='https://pt.wikipedia.org/wiki/League_of_Legends' target='_blank' rel='external noopener')
                em League of Legends
              | .
            p
              | Consistem em marcar/sinalizar o mapa ou algum elemento do jogo, a fim de indicar algum evento que aconteceu, está acontecendo ou irá/poderá acontecer. Esta mecânica, por outro lado, não está presente em muitos jogos dos eSports.
            h2 como melhorar a comunicação sendo mais efetivo
            p
              | Finalmente, tendo todos os conceitos básicos em mente, podemos começar a discutir maneiras de ser mais efetivo na comunicação dentro de jogo.
            h2 eficiência
            p
              | Consiste em 
              strong
                | comunicar informações com o maior nível de detalhamento possível, no menor tempo possível.
            p
              | Portanto, para uma boa utilização do 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em chat
              | , você deve ter sua habilidade de digitação “em dia”. Ter uma boa velocidade de digitação (comumente medida em PPM — Palavras Por Minuto) é essencial, digitar de forma eficiente e com o mínimo de erros, pode ser extremamente impactante na comunicação dentro de jogo.
            p
              | Por outro lado, no chat de voz, ninguém merece ter um aliado que para informar que irá se mover do ponto A ao ponto B, demore 10 segundos.
            h2 concisão
            p Consiste em:
            ol
              li Comunicar apenas o necessário;
            p
              | Inegavelmente, falar excessivamente nos 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em chats
              |  (principalmente no de voz), 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em pingar
              |  excessivamente e 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em spamar
              |  na rádio é irritante, e podem acabar 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em tiltando
              |  ou distraindo seus aliados.
            ol(start='2')
              li quando necessário;
            p
              | Afinal, avisar o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em MIA
              |  (Missed In Action — Perdido em combate) do oponente apenas depois dele já estar 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em gankando
              |  seu 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em mid-laner
              | , não é de grande auxílio. Assim como, avisar que você irá 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em bangar
              |  apenas depois que já lançou a 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em flashbang
              |  e cegou seu aliado, não é de muita ajuda.
            ol(start='3')
              li para a pessoa certa;
            p
              | Pois, avisar seu suporte que o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em top-laner
              |  inimigo gastou flash — dependendo da situação — pode não fazer sentido, sendo que quem mais iria usufruir desta informação é seu 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em jungler
              | . Assim como, avisar aos aliados do 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em bombsite
              |  B, que você irá 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em smokar
              |  o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em bombsite
              |  A, também não faz sentido.
            ol(start='4')
              li e com clareza;
            p
              | Afinal, ninguém é obrigado a decifrar o enigma que você escreveu no chat ou disse no 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em chat
              | de voz.
            h2 exploração das ferramentas
            p
              | Geralmente, os jogos contêm no mínimo dois tipos diferentes de ferramentas de comunicação. Sendo assim, é importante que nós utilizemos a maioria delas (senão todas), assim conseguiremos maior eficácia na comunicação.
            p
              | No 
              em League of Legends
              | , podemos utilizar o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em chat
              | , os 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em pings
              |  (ou alertas) e—se você estiver jogando em um saguão com amigos — o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em chat
              |  de voz.
            p
              | No 
              em
                | Counter-Strike: Global Offensive, as opções são o 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener') chat
                | , a rádio e o 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener') chat
                |  de voz.
            h2 próximos passos
            p
              | Finalmente, agora que você possui conhecimento de como uma informação boa deve ser, e como agir para conseguir comunicar informações que atendam estes “padrões de qualidade”, você está pronto para colocar em prática e pedir o conselho de seus aliados/amigos se você está conseguindo atingir seu objetivo. Boa sorte em sua jornada, pequenx gafanhotx, see ya!
            h2 referências
            cite -
            hr
          //.blog__article-page__share
            p compartilhe este artigo no:
            a.link(href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" rel="noopener" target="_blank") twitter
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") facebook
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") linkedin
              
    footer.footer
      .footer__social-media
        p.footer__social-media__text confira minhas redes sociais
        .footer__social-media__links
          a.footer__social-media__links__link(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
          a.footer__social-media__links__link(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
          a.footer__social-media__links__link(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
          a.footer__social-media__links__link(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
      .footer__message
        p.footer__message__text feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.