doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include ../includes/head-article
    meta(name="description" content="descrição")
    meta(name="twitter:description" content="descrição")
    meta(property="og:description" content="descrição")
    title jogar só ou com amigos, qual a melhor opção? - kevin quintino
    meta(name="twitter:title" content="jogar só ou com amigos, qual a melhor opção?")
    meta(property="og:title" content="jogar só ou com amigos, qual a melhor opção?")
    meta(name="twitter:image" content="http://blog.kevinnicolasbq.com/img/feature-images/jogar-so-ou-com-amigos-qual-a-melhor-opcao-kevin-quintino-kevinnicolasbq.png")
    meta(property="og:image" content="http://blog.kevinnicolasbq.com/img/feature-images/jogar-so-ou-com-amigos-qual-a-melhor-opcao-kevin-quintino-kevinnicolasbq.png")
    meta(property="article:section" content="esports")
    meta(property="article:tag" content="jogar só ou com amigos, jogar com amigos, soloqueue ou duo, esports, competitivo")
    meta(property="article:published_time" content="2020-02-29")
    meta(property="og:url" content="https://blog.kevinnicolasbq.com/artigos/url.html")
    meta(name="twitter:url" content="https://blog.kevinnicolasbq.com/artigos/url.html")
    link(rel="canonical" href="https://blog.kevinnicolasbq.com/artigos/url.html")
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-N8WW2TZ' height='0' width='0' style='display:none;visibility:hidden')
    .blog
        header.blog__header
          a.link(href="https://blog.kevinnicolasbq.com/")
            img(src="../img/logomark.svg" alt="logomarca")
          h1.blog__header__name #[mark kevin quintino]
          a.link(href="https://kevinnicolasbq.com/")
            input.blog__header__portfolio.primary-button(type="button" value="confira meu portfolio" tabindex="-1")
        section.blog__article-page
          article.blog__article-page__content
            h1 jogar só ou com amigos, qual a melhor opção?
            text publicado em #[strong 29 de setembro de 2020], por #[a.link(rel="external noopener" target="_blank" href="https://www.linkedin.com/in/kevinnicolasbq/") #[strong kevin quintino]] - 3 minutos de leitura.
            hr
            p 
              strong A maioria dos jogos presentes nos eSports, são disputados em equipes, porém eles também permitem — em suas ranqueadas/competitivos — que jogadores busquem partidas a sós. Sendo assim, neste artigo tentarei esclarecer uma dúvida que muitos jogadores possuem, jogar só ou com amigos, qual a melhor opção para evoluir?
            h2 devo jogar só?
            p A maioria dos jogadores, consideram que jogar com amigos é mais divertido. Se você é um destes jogadores, e na maioria das vezes, busca partidas junto de amigos. Veja alguns benefícios que o hábito de jogar só pode lhe proporcionar:
            h3 benefícios de jogar só
            ul
              li
                | Eleva seu foco na partida: Ao jogar só, por não tem intimidade com seus aliados, acabamos passando mais tempo concentrados no jogo do que interagindo ou prestando atenção no aliados.
              li
                | Melhora a mecânica de forma mais eficiente: Ao jogar só, a mecânica tende a se tornar mais decisiva que a estratégia. Sendo assim, ao jogar só, temos a necessidade de estar sempre evoluindo nossa mecânica para continuar vencendo.
              li
                | Deixa o jogo mais randômico e imprevisível: Diferentemente de quando estamos com amigos, as partidas tendem a serem mais randômicas e imprevisíveis, pois você geralmente não é informado previamente das ações de seus aliados.
              li
                | Diminui o gasto energético por partida: Geralmente, nessas partidas, a comunicação é mais concisa, rara e ordinária. Sendo assim, raramente gastamos saliva ou processamento cerebral para armar jogadas complexas e que exijam muito de todos. Na maioria das vezes os jogadores optam belo básico, o que faz com que você gaste menos energia nas partidas.
            h2 devo jogar com amigos?
            p Por outro lado, se você é um jogador que na maioria das vezes, busca partidas só (que inegavelmente, é a situação na qual a maioria dos jogadores se encontram). Saiba algumas das habilidades você está impedindo — ou pelo menos retardando — a evolução:
            h3 benefícios de jogar com amigos
            ul
              li
                | Colabora na melhoria da comunicação: Evidentemente, quando jogamos com amigos, a comunicação é mais comum, a troca de informações é mais intensa, e o jogo é mais discutido pela equipe. Tudo isso colabora para a melhora na sua comunicação.
              li
                | Melhora o trabalho em equipe de forma muito mais eficiente: Por contar com uma comunicação elevada e aprimorada, a 
                a.link(href='https://www.vagas.com.br/profissoes/6-soft-skills-mais-demandadas-pelos-empregadores/' target='_blank' rel='external noopener')
                  em soft skill
                |  trabalho em equipe é muito utilizada, o que nos faz aprimorar ela.
              li
                | Torna o jogo mais estratégico: A mecânica fica em segundo plano neste caso, pois a maior vantagem de jogar com os amigos/equipe é que vocês terão um jogo mais estratégico. Um jogo estratégico é muito mais poderoso que um jogo mecânico, mas é importante manter um equilíbrio.
              li
                | Torna a partida mais divertida e menos estressante: E claramente, a partida com amigos fica mais divertida, menos estressante (pois se supõe que eles não serão 
                a.link(href='https://segredosdosensei.com.br/toxicidade-nos-jogos/' target='_blank' rel='external noopener')
                  em tóxicos
                |  com você e vice versa).
            h2 afinal, jogar só ou com amigos?
            p Não existe uma melhor opção! O equilíbrio é ideal, apenas ele fará com que você desfrute de todos os benefícios oferecidos por cada opção.
            h2 próximos passos
            p Então, agora que você já tomou conhecimento de alguns dos benefícios de cada opção, utilize sua disciplina para manter o equilíbrio. Lembre-se também que jogar com outros jogadores que também sejam competitivos, eleva a velocidade da evolução consideravelmente. Boa sorte em sua jornada, pequenx gafanhotx, see ya!
            h2 referências
            cite -
            hr
          //.blog__article-page__share
            p compartilhe este artigo no:
            a.link(href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" rel="noopener" target="_blank") twitter
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") facebook
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") linkedin
              
    footer.footer
      .footer__social-media
        p.footer__social-media__text confira minhas redes sociais
        .footer__social-media__links
          a.footer__social-media__links__link(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
          a.footer__social-media__links__link(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
          a.footer__social-media__links__link(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
          a.footer__social-media__links__link(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
      .footer__message
        p.footer__message__text feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.