doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include ../includes/head-article
    meta(name="description" content="A paciência é uma das disciplinas mais difíceis de se adquirir, porém, ela é também uma das mais recompensadoras nos jogos. Conheça os benefíicos da paciência nos jogos.")
    meta(name="twitter:description" content="A paciência é uma das disciplinas mais difíceis de se adquirir, porém, ela é também uma das mais recompensadoras nos jogos. Conheça os benefíicos da paciência nos jogos.")
    meta(property="og:description" content="A paciência é uma das disciplinas mais difíceis de se adquirir, porém, ela é também uma das mais recompensadoras nos jogos. Conheça os benefíicos da paciência nos jogos.")
    title conheca os benefícios da paciência nos jogos - kevin quintino
    meta(name="twitter:title" content="conheca os benefícios da paciência nos jogos")
    meta(property="og:title" content="conheca os benefícios da paciência nos jogos")
    meta(name="twitter:image" content="http://blog.kevinnicolasbq.com/img/feature-images/conheca-os-beneficios-da-paciencia-nos-jogos-kevin-quintino-kevinnicolasbq.png")
    meta(property="og:image" content="http://blog.kevinnicolasbq.com/img/feature-images/conheca-os-beneficios-da-paciencia-nos-jogos-kevin-quintino-kevinnicolasbq.png")
    meta(property="article:section" content="esports")
    meta(property="article:tag" content="paciência, paciência nos jogos, benefícios da paciência, esports, benefícios da paciência nos jogos")
    meta(property="article:published_time" content="2020-02-04")
    meta(property="og:url" content="https://blog.kevinnicolasbq.com/artigos/os-beneficios-da-paciencia-nos-jogos.html")
    meta(name="twitter:url" content="https://blog.kevinnicolasbq.com/artigos/os-beneficios-da-paciencia-nos-jogos.html")
    link(rel="canonical" href="https://blog.kevinnicolasbq.com/artigos/os-beneficios-da-paciencia-nos-jogos.html")
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-N8WW2TZ' height='0' width='0' style='display:none;visibility:hidden')
    .blog
        header.blog__header
          a.link(href="https://blog.kevinnicolasbq.com/")
            img(src="../img/logomark.svg" alt="logomarca")
          h1.blog__header__name #[mark kevin quintino]
          a.link(href="https://kevinnicolasbq.com/")
            input.blog__header__portfolio.primary-button(type="button" value="confira meu portfolio" tabindex="-1")
        section.blog__article-page
          article.blog__article-page__content
            h1 conheça os benefícios da paciência nos jogos
            text publicado em #[strong 04 de fevereiro de 2020], por #[a.link(rel="external noopener" target="_blank" href="https://www.linkedin.com/in/kevinnicolasbq/") #[strong kevin quintino]] - 5 minutos de leitura.
            hr
            p
              strong
                | a paciência nos jogos, sem dúvidas, é uma das 
                em #[a.link(href='https://www.napratica.org.br/como-desenvolver-soft-skills/' target='_blank' rel="external noopener") soft skills] 
                | mais vantajosas e desejadas. Entretanto, nós costumamos não enxergar a importância dela dentro de jogo. Neste artigo, irei discorrer sobre esta habilidade e mostrar exemplos do quão útil ela pode ser dentro de jogo.
            h2 definição
            blockquote
              | “Paciência é uma virtude do ser humano baseada no 
              strong autocontrole emocional
              | , ou seja, quando um indivíduo 
              strong suporta situações desagradáveis
              | , injúrias e o incômodo de terceiros 
              strong sem perder a calma
              |  e a concentração.”
              | “A paciência é principalmente baseada na 
              strong tolerância
              |  com os erros alheios ou diante situações e fatos indesejados.”
              | “O ato de ter paciência pode também significar 
              strong perseverança
              |  em relação a algo, como uma resposta, situação ou ação que aparentemente não tem previsão para se concretizar.”
              br
              | fonte: 
              a.link(href='https://www.significados.com.br/paciencia/' rel="external noopener" target="_blank") significados.com.br
            p
              | Tendo estas afirmações sobre paciência em mente, 
              strong imaginemos situações dentro de jogo que exijam paciência
              | . Muito provavelmente diversas ocasiões surgiram, sendo assim, pudemos verificar — somente com a definição — que 
              strong a paciência é sim necessária dentro de jogo
              | . Principalmente para lidar com situações e fatores incômodos que podem afetar negativamente sua 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel="external noopener")
                em gameplay
              | , emocional e perseverança na partida.
            h2 “não me convenceu ainda!”
            p
              | Se você não se convence sem ter alguma “prova” ou exemplo prático de algo, apresento-lhe uma compilação de momentos — de partidas oficiais — produzida pela 
              a.link(href='https://www.thescoreesports.com/' rel="external noopener" target="_blank")
                strong theScore eSports
              | . Nos quais, 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel="external noopener")
                em pro players
              | , demonstraram — com maestria — a 
              strong utilidade
              |  da paciência nos jogos.
            iframe(src="https://www.youtube.com/embed/vxaYYYoq13s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            figcaption
              | Vídeo do canal 
              strong theScore eSports 
              | com exemplos do quão recompensador a paciência pode ser.
            p
              | Espero que, ao assistir alguns segundos apenas deste vídeo, você tenha se convencido de que a paciência pode sim trazer 
              strong grandes recompensas
              |  dentro de jogo. Contudo, se você não é um jogador de 
              strong CS:GO
              | , tenho aqui um clipe de um momento da
              strong  LCS
              |  (Liga norte-americana de League of Legends), onde o jogador 
              strong Scarra 
              | — da equipe — 
              strong Dignitas
              | , manteve a paciência até conseguir o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel="external noopener")
                em timing
              |  perfeito para utilizar seu 
              em
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel="external noopener") ultimate
              |  em quatro jogadores e fazer com que o time inimigo recue, salvando assim, a 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel="external noopener")
                em team fight
              | .
            iframe(src="https://www.youtube.com/embed/GbPv4pPGIUw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            figcaption
              | Vídeo mostrando um trecho de uma partida profissional de LoL, onde a paciência foi determinante.
            p
              | Então, está convencido agora? Infelizmente não seria viável eu colocar um exemplo de cada jogo, porém, certamente você conseguirá encontrar situações em que o esta disciplina pode te 
              strong recompensar
              |  ou, pelo menos, 
              strong evitar
              |  que você acabe se precipitando em algo. Quantas vezes você 
              strong perdeu
              |  uma partida por uma 
              strong ação precoce
              |  sua ou de algum aliado?
            h2 como ser mais paciente?
            p
              | Como qualquer outra 
              a.link(href='https://www.napratica.org.br/como-desenvolver-soft-skills/' target='_blank' rel="external noopener")
                em soft skill
              | , não existe uma receita ou fórmula mágica para adquiri-las. Entretanto, existem hábitos que se você conseguir ganhar, inevitavelmente você se tornará uma pessoa mais paciente.
            h3 “pense primeiro, atire depois”
            p
              | Você não leu errado, eu sei que a frase famosa é 
              em “Atire primeiro, pense depois”
              | , porém, esta frase é completamente o oposto do que queremos. 
              strong Pensar antes de agir é essencial
              | , isso pode eventualmente fazer com que o oponente aja mais rápido que você e acabe te eliminando, porém, com o tempo você irá levar menos tempo para pensar em como agir, e pensando antes de agir você terá uma 
              strong vantagem natural
              |  sobre o oponente.
            h3 pense previamente
            p
              | Contudo, não é eficiente deixar para pensar em tudo durante a partida ou durante o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel="external noopener")
                em round
              | . Antes mesmo de a partida ou do 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel="external noopener")
                em round
              |  começar você já deve ter um 
              strong plano de jogo
              | , imaginar 
              strong seu
              |  plano de jogo e o que o 
              strong oponente
              |  pode ter, como você reagiria às situações que você conseguiu imaginar que podem acontecer.
            p
              | Obviamente você não tem como imaginar exatamente o que o oponente pretende fazer. Porém, baseado em 
              strong sua experiência de jogo
              | , você consegue imaginar com um certo grau de certeza (grau este que aumenta conforme seu nível de experiência de jogo) o plano de jogo do oponente.
            p
              | Mas, se você 
              strong não se considera experiente o suficiente
              |  para ler o jogo do oponente, você pode tentar 
              strong pensar como o oponente
              | . Se você está em uma partida — teoricamente — equilibrada, com jogadores de mesmo nível, é provável que vocês 
              strong pensem de forma parecida
              | . Sendo assim, se você tiver dúvida de qual ação o oponente irá tomar, pense em 
              strong qual ação você tomaria se estivesse no lugar dele
              | .
            h2 mais vantagens da paciência nos jogos
            p
              | Entretanto, a paciência ainda tem mais vantagens. Leia novamente estas duas definições de paciência:
            blockquote
              | “Paciência é uma virtude do ser humano baseada no 
              strong autocontrole emocional
              | , ou seja, quando um indivíduo 
              strong suporta situações desagradáveis
              | , injúrias e o incômodo de terceiros 
              strong sem perder a calma
              |  e a concentração.”
              br
              br
              | “A paciência é principalmente baseada na 
              strong tolerância
              |  com os erros alheios ou diante situações e fatos indesejados.”
            p
              | Como você pode ver, nestas duas definições é citada a capacidade de 
              strong suportar/tolerar
              |  situações. Afinal, quem nunca 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel="external noopener")
                em
                  strong tiltou
              |  jogando? Além de evitar precipitações, a paciência também pode te 
              strong ajudar no controle emocional
              | , fazendo com que você, gradativamente, torne-se uma pessoa mais calma, controlada e disciplinada.
            p
              | O foco deste artigo não é controle emocional, pretendo fazer um artigo somente sobre este tema, se você está lendo e ainda não tem nenhum link para este artigo sobre controle emocional, significa que ele ainda não foi produzido.
            p
              | Entretanto, já adiantando, quanto mais 
              strong instável
              |  e/ou 
              strong alterado
              |  um jogador é/está na partida, mais 
              strong difícil
              |  fica para este jogador, alcançar seu melhor 
              strong “estado”
              | .
            h2 próximos passos
            p
              | Agora, que você sabe das vantagens de aplicar paciência durante a partida, trabalhe os hábitos citados anteriormente para se disciplinar e conseguir ser cada vez mais paciente. Lembre-se sempre que, geralmente, as 
              strong
                a.link(href='https://www.napratica.org.br/como-desenvolver-soft-skills/' target='_blank' rel="external noopener")
                  em soft skills
                |  ajudam você a explorar a falta de 
                a.link(href='https://www.napratica.org.br/como-desenvolver-soft-skills/' target='_blank' rel="external noopener")
                  em soft skills
                |  dos oponentes
              | . Boa sorte em sua jornada, pequenx gafanhotx, see ya!
            h2 referências
            cite -
            hr
          //.blog__article-page__share
            p compartilhe este artigo no:
            a.link(href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" rel="noopener" target="_blank") twitter
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") facebook
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") linkedin
              
    footer.footer
      .footer__social-media
        p.footer__social-media__text confira minhas redes sociais
        .footer__social-media__links
          a.footer__social-media__links__link(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
          a.footer__social-media__links__link(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
          a.footer__social-media__links__link(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
          a.footer__social-media__links__link(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
      .footer__message
        p.footer__message__text feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.