doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include ../includes/head-article
    meta(name="description" content="Conheça alguns métodos que podem te auxiliar a adivinhar/prever os movimentos de seus adversários. Prever o oponente é mais simples do que parece!")
    meta(name="twitter:description" content="Conheça alguns métodos que podem te auxiliar a adivinhar/prever os movimentos de seus adversários. Prever o oponente é mais simples do que parece!")
    meta(property="og:description" content="Conheça alguns métodos que podem te auxiliar a adivinhar/prever os movimentos de seus adversários. Prever o oponente é mais simples do que parece!")
    title aprenda a prever os adversários nos jogos - kevin quintino
    meta(name="twitter:title" content="aprenda a prever os adversários nos jogos")
    meta(property="og:title" content="aprenda a prever os adversários nos jogos")
    meta(name="twitter:image" content="http://blog.kevinnicolasbq.com/img/feature-images/aprenda-a-prever-os-adversarios-nos-jogos-kevin-quintino-kevinnicolasbq.png")
    meta(property="og:image" content="http://blog.kevinnicolasbq.com/img/feature-images/aprenda-a-prever-os-adversarios-nos-jogos-kevin-quintino-kevinnicolasbq.png")
    meta(property="article:section" content="esports")
    meta(property="article:tag" content="prever o adversário, prever o oponente, prever movimentos, esports, competitivo, aprenda a prever os adversários nos jogos, como prever o oponente, como prever o adversário")
    meta(property="article:published_time" content="2020-04-01")
    meta(property="og:url" content="https://blog.kevinnicolasbq.com/artigos/prevendo-os-adversarios.html")
    meta(name="twitter:url" content="https://blog.kevinnicolasbq.com/artigos/prevendo-os-adversarios.html")
    link(rel="canonical" href="https://blog.kevinnicolasbq.com/artigos/prevendo-os-adversarios.html")
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-N8WW2TZ' height='0' width='0' style='display:none;visibility:hidden')
    .blog
        header.blog__header
          a.link(href="https://blog.kevinnicolasbq.com/")
            img(src="../img/logomark.svg" alt="logomarca")
          h1.blog__header__name #[mark kevin quintino]
          a.link(href="https://kevinnicolasbq.com/")
            input.blog__header__portfolio.primary-button(type="button" value="confira meu portfolio" tabindex="-1")
        section.blog__article-page
          article.blog__article-page__content
            h1 aprenda a prever os adversários nos jogos
            text publicado em #[strong 01 de abril de 2020], por #[a.link(rel="external noopener" target="_blank" href="https://www.linkedin.com/in/kevinnicolasbq/") #[strong kevin quintino]] - 4 minutos de leitura.
            hr
            p
              strong
                | prever o oponente é, provavelmente, um dos processos mais complexos e incertos que existem. Entretanto, quanto mais experiência e empatia o jogador tiver, mais simples esta tarefa fica. Neste artigo iremos discutir métodos eficazes para facilitar seu processo de leitura da mente do oponente.
            h2 benefícios de saber prever o oponente
            h3 conseguir antecipar jogadas
            p
              | Certamente, uma leitura bem feita da mente do oponente pode ser extremamente 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em game-changing
              | . 
              strong
                | A previsão correta de uma ação do oponente pode assegurar um 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em round
                | , um 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em comeback
                |  ou até mesmo uma vitória.
            h3 dificultar a leitura de jogo do oponente
            p
              | Afinal, conhecendo o processo de leitura de jogo, possibilita o uso dele em seu favor, 
              strong guiando o oponente a fazer uma leitura incorreta
              |  do que se passa em sua mente.
            h3 tomada de decisões mais eficiente
            p
              | Pois, tendo em mente — mesmo que de forma nebulosa — os objetivos e metas do oponente, a 
              strong tomada de decisões
              |  se torna uma tarefa mais simples e rápida.
            h2 método da empatia
            p
              | Agora que você já sabe o quão 
              strong importante e vantajoso
              |  é ter a capacidade de 
              strong prever
              |  as ações de seu oponente, vamos ao primeiro método para conseguir efetivamente atingir este objetivo.
            p
              | O método da empatia 
              strong consiste, basicamente, em se colocar no lugar de seu oponente
              | . Considerando que seu oponente — teoricamente — possui o mesmo nível de experiência e habilidade que você, suas ações não devem diferir muito. Vejamos alguns exemplos:
            p
              strong [CENÁRIO-CSGO]
              |  Você está no meio de um round no lado 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em CT
              |  no 
              a.link(href='https://pt.wikipedia.org/wiki/Counter-Strike:_Global_Offensive' target='_blank' rel='external noopener')
                em CS:GO
              | , seu time — o qual estava fazendo um round econômico (
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em ECO
              | ) — decidiu fazer um 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em stack
              |  no 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em bombsite
              |  B. Os oponentes então invadem o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em bombsite
              |  B e quatro deles morrem, o único sobrevivente é o que carrega o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em C4
              |  e ele possui a informação — passada por seus aliados — de que existem cinco jogadores dentro do 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em bombsite
              | .
              br
              strong [EXERCÍCIO] 
              | Tendo este cenário em mente, imagine-se sendo o jogador 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em TR
              |  que está vivo com o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em C4
              | , qual decisão você tomaria?
            p
              | Provavelmente, você tomou a decisão de rotacionar para o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em bombsite
              |  A, correto? Sendo assim, 
              strong
                | imagine o quão bem você pode ler o que se passa na cabeça de seu oponente apenas se imaginando no lugar dele
              | . Vamos a mais um exemplo, agora em outro jogo.
            p
              strong [CENÁRIO-LOL] 
              | Você está em uma partida de 
              a.link(href='https://pt.wikipedia.org/wiki/League_of_Legends' target='_blank' rel='external noopener')
                em LoL
              | , o time adversário destruiu um inibidor e as duas torres de seu 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em Nexus
              | , deixou seu 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em Nexus
              |  com pouca vida e ainda colocou 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em wards
              |  próximas à ele. Seu time nasceu a tempo de defende-lo e conseguiu matar todos os oponentes, com exceção do 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em top-laner
              | . Você tem a informação de que o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em top-laner
              |  adversário está com o teleporte pronto.
            p
              strong [EXERCÍCIO] 
              | Tendo este cenário em mente, se você fosse o 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em top-laner
              |  adversário, que decisão tomaria?
            p
              | Provavelmente, sua decisão seria esperar o melhor momento para utilizar o teleporte em uma das 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em wards
              |  posicionadas próximas ao 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em Nexus
              |  adversário e destruí-lo, correto? Novamente, imagine o quão eficaz você pode ser na hora de imaginar o que o oponente fará, apenas se utilizando da empatia.
            p
              | Resumindo, 
              strong
                | o método da empatia consiste em se imaginar como sendo seu oponente, estando na situação em que ele se encontra, com os problemas e recursos que ele possui para solucioná-los
              | . Uma vez que você consiga se imaginar como o oponente, 
              strong você deve se perguntar “O que eu faria? 
              strong Qual decisão eu tomaria?”
              | , e você terá sua resposta.
            h3 prós
            ul
              li Simples;
              li Rápido;
              li Requer pouca experiência de jogo.
            h3 contras
            ul
              li
                | Variável (jogadores de diferentes níveis tendem a pensar e agir de formas diferentes);
              li
                | Permite manipulação (se o oponente também conhecer este método, ele pode o utilizar a seu favor, guiando-o a concluir incorretamente a ação tomada por ele).
            h2 método da recordação
            p
              | Este método pode ser ainda mais eficaz que o anterior, entretanto, ele é 
              strong melhor aplicado por jogadores experientes
              | , já que ele 
              strong se baseia — basicamente — na recordação de experiências. 
              | Ela também é utilizada em treinos que se baseiam na 
              a.link(href='https://segredosdosensei.com.br/por-que-assistir-replays/' target='_blank' rel='external noopener')
                em análise de VODs
              | .
            p
              | Sendo assim, imagine que você já tenha enfrentado determinado oponente ou equipe. Certamente você deve ter notado 
              strong características
              | , seja no estilo de jogo, na tomada de decisões ou algo do tipo. Pelo método da recordação, você supõe que estas características 
              strong permanecem
              | , e explora os pontos fracos delas.
            p
              strong [EXEMPLO-LOL] 
              | Você irá jogar contra uma equipe que é conhecida por jogar favorecendo seu 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em top-laner
              | , sabendo disso, você provavelmente irá informar seu time e fazer um plano para explorar os pontos fracos dessa estratégia.
            p
              strong [EXEMPLO-CSGO] 
              | Você já jogou inúmeras vezes contra uma determinada equipe neste determinado mapa. Em todas as partidas anteriores, eles utilizaram a mesma estratégia no primeiro round, 
              a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                em smokar
              |  aquela determinada área e entrar por aquela outra determinada área com auxílio de uma 
              em flashbang
              | . Sabendo disso, você informa sua equipe e chegam à uma execução que irá frustrar completamente essa estratégia deles.
            p
              | Resumindo, o método da recordação, 
              strong consiste em relembrar — baseando-se em experiências passadas — características
              |  que possam ser úteis na hora de 
              strong supor
              |  a ação que o oponente tenha tomado ou irá tomar.
            h3 prós
            ul
              li Possui uma maior eficácia quando bem aplicado;
              li É o método mais utilizado por jogadores profissionais;
              li É mais difícil de ser manipulado para passar informações incorretas.
            h3 contras
            ul
              li Exige que o jogador seja experiente e perceptivo;
            h2 próximos passos
            p
              | Naturalmente, para assimilar um conteúdo ou uma prática/hábito novo, é preciso praticar. Sendo assim, 
              strong coloque o conhecimento adquirido em prática
              | , teste os métodos citados e 
              strong eleja seu favorito
              | . Boa sorte em sua jornada, pequenx gafanhotx, see ya!
            h2 referências
            cite -
            hr
          //.blog__article-page__share
            p compartilhe este artigo no:
            a.link(href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" rel="noopener" target="_blank") twitter
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") facebook
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") linkedin
              
    footer.footer
      .footer__social-media
        p.footer__social-media__text confira minhas redes sociais
        .footer__social-media__links
          a.footer__social-media__links__link(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
          a.footer__social-media__links__link(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
          a.footer__social-media__links__link(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
          a.footer__social-media__links__link(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
      .footer__message
        p.footer__message__text feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.