doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include ../includes/head-article
    meta(name="description" content="Todos já lidamos com a toxicidade nos jogos, mas você sabe identificar um jogador tóxico? Provavelmente você é um, mas não percebeu isso ainda. Confira!")
    meta(name="twitter:description" content="Todos já lidamos com a toxicidade nos jogos, mas você sabe identificar um jogador tóxico? Provavelmente você é um, mas não percebeu isso ainda. Confira!")
    meta(property="og:description" content="Todos já lidamos com a toxicidade nos jogos, mas você sabe identificar um jogador tóxico? Provavelmente você é um, mas não percebeu isso ainda. Confira!")
    title a toxicidade nos jogos - kevin quintino
    meta(name="twitter:title" content="a toxicidade nos jogos")
    meta(property="og:title" content="a toxicidade nos jogos")
    meta(name="twitter:image" content="http://blog.kevinnicolasbq.com/img/feature-images/a-toxicidade-nos-jogos-kevin-quintino-kevinnicolasbq.png")
    meta(property="og:image" content="http://blog.kevinnicolasbq.com/img/feature-images/a-toxicidade-nos-jogos-kevin-quintino-kevinnicolasbq.png")
    meta(property="article:section" content="esports")
    meta(property="article:tag" content="toxicidade nos jogos, toxicidade, jogadores tóxicos, esports, jogos")
    meta(property="article:published_time" content="2020-02-12")
    meta(property="og:url" content="https://blog.kevinnicolasbq.com/artigos/toxicidade-nos-jogos.html")
    meta(name="twitter:url" content="https://blog.kevinnicolasbq.com/artigos/toxicidade-nos-jogos.html")
    link(rel="canonical" href="https://blog.kevinnicolasbq.com/artigos/toxicidade-nos-jogos.html")
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-N8WW2TZ' height='0' width='0' style='display:none;visibility:hidden')
    .blog
        header.blog__header
          a.link(href="https://blog.kevinnicolasbq.com/" rel="external noopener")
            img(src="../img/logomark.svg" alt="logomarca")
          h1.blog__header__name #[mark kevin quintino]
          a.link(href="https://kevinnicolasbq.com/" rel="external noopener")
            input.blog__header__portfolio.primary-button(type="button" value="confira meu portfolio" tabindex="-1")
        section.blog__article-page
          article.blog__article-page__content
            h1 a toxicidade nos jogos
            text publicado em #[strong 12 de fevereiro de 2020], por #[a.link(rel="external noopener" target="_blank" href="https://www.linkedin.com/in/kevinnicolasbq/") #[strong kevin quintino]] - 3 minutos de leitura.
            hr
            p
              strong
                | a toxicidade nos jogos - na maioria das vezes - é explícita, diferentemente da toxicidade fora deles. Todos já sofreram com jogadores tóxicos, sejam eles oponentes, aliados ou até mesmo amigos. Neste artigo discutiremos este tema polêmico.
            h2 como identificar uma pessoa tóxica?
            p
              | Embora — na maioria das vezes— a toxicidade seja 
              strong explícita
              | , ela também pode ser 
              strong sutil
              | , tão sutil que você pode ser uma pessoa tóxica mas não 
              strong percebeu
              |  isso ainda.
            h2 sou uma pessoa tóxica?
            p
              | Sendo assim, 
              strong o que é ser tóxico?
              |  A partir de que momento você passa a ser considerado uma pessoa tóxica? Descubra se você é uma pessoa tóxica nos jogos.
            h3 você verbaliza pensamentos tóxicos?
            p
              | Pois 
              strong ofender ou criticar pessoas mentalmente, não é ser tóxico
              | . A toxicidade começa a partir do momento em que você 
              strong verbaliza
              |  estes pensamentos, ou 
              strong realiza ações
              |  que 
              strong demonstrem
              |  essa forma 
              strong tóxica 
              | de pensar.
            h3 você afeta negativamente seus aliados/oponentes?
            p
              | Afinal, a toxicidade não está ligada única e 
              strong exclusivamente
              |  à xingamentos ou críticas. 
              strong Existem inúmeros tipos de pessoas tóxicas
              | , para uma melhor abordagem do tema — 
              strong levando em consideração não apenas os jogos
              |  — e destes tipos de 
              strong toxicidade
              |  que as pessoas podem ter, recomendo 
              a.link(href='https://medium.com/nossa-coletividad/n%C3%A3o-seja-mais-uma-pessoa-t%C3%B3xica-405de0f91e82' rel="external noopener")
                strong este artigo
              | , de Júlio Fontes.
            p
              | Enfim, 
              strong
                | desestimular, manipular, controlar, invejar, se fazer de vítima, ser arrogante ou egoísta
              |  com/para outros jogadores —
              strong  sejam eles aliados ou oponentes
              |  — também é ser tóxico.
            p
              | A tarefa complicada é 
              strong descobrir se você é tóxico
              | , e além disso, se você é tóxico 
              strong com
              |  ou 
              strong para
              |  as pessoas. Se você tem noção das suas 
              strong ações tóxicas
              |  e às faz 
              strong propositalmente
              | , você é tóxico
              strong  com
              |  as pessoas. Já, se você tem noção de que causa mal de alguma forma para alguém, mas 
              strong não faz ideia
              |  do motivo, você é tóxico 
              strong para
              |  este alguém.
            h2 atitudes tóxicas nos jogos
            p
              | As 
              strong atitudes
              |  tóxicas 
              strong mais comuns
              |  em 
              strong jogos online
              |  são:
            ul
              li
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em Rage quit
                | .
              li
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em Feeding
                |  intencional.
              li
                strong Provocar outros jogadores
                |  com o objetivo de 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em tiltar
                |  eles.
              li
                strong Desestimular outros jogadores
                | , fazendo-os se sentirem incapazes e/ou desanimados.
              li
                strong Querer controlar o jogo de outros jogadores
                | , exigindo que eles façam algo que 
                strong você 
                | deseja que eles façam.
              li
                strong Tratar com indiferença ou diminuir as conquistas de outros jogadores
                | . Por exemplo, dizer “Eu já fiz isso várias vezes”, “Você só conseguiu isso porque estamos contra 
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener')
                  em bots
                | ” ou frases parecidas, quando outro jogador 
                strong comemora
                |  um feito.
              li
                strong Ignorar seus erros
                | , ou argumentar que erros cometidos por outros jogadores foram 
                strong mais impactantes
                |  que os seus.
            h2 por que deixar de ser tóxico?
            p
              | Existem inúmeras 
              strong vantagens
              |  em
              strong  não ser tóxico
              |  nos jogos. Além de fazer bem à você como pessoa, isto também pode:
            ul
              li
                | Fazer com que outros jogadores 
                strong apreciem
                |  e 
                strong desejem
                |  jogar mais partidas com você;
              li
                | fazer com que as pessoas deem mais 
                strong atenção
                |  ao que você diz;
              li
                | melhorar sua 
                strong reputação
                |  para outros jogadores;
              li
                | fazer com que seu cérebro se 
                strong concentre
                |  mais no jogo, em como 
                strong ganhar
                |  a partida, do que em como 
                strong culpar/xingar
                |  outros jogadores.
            h2 como lidar com a toxicidade nos jogos?
            p
              | Ainda 
              strong
                | mais importante do que saber identificar jogadores tóxicos, é saber lidar com estes jogadores.
              |  Primeiramente, saiba que eles são extremamente comuns, todos - eventualmente - jogam com aliados ou adversários tóxicos, 
              strong o universo não está conspirando contra você 
              | em especial.
            p
              | Após identificar o(s) jogador(es) tóxico(s), se ele for seu amigo/colega, 
              strong alerte-o sobre sua toxicidade
              |  (ele pode não ter noção dela). Se mesmo após alertado, ele continuar sendo tóxico da mesma forma, o melhor que você pode fazer, é parar de jogar com ele - 
              strong não precisa encerrar sua relação com ele.
            p
              strong
                | Se ele for um 
                em
                  a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener' aria-label='random (opens in a new tab)') random
                | , a melhor coisa a se fazer, é ignorá-lo
              | . Para isso, você pode simplesmente ignorar as comunicações dele e, se necessário, mute-o. Se ele for tóxico durante a 
              em
                a.link(href='https://segredosdosensei.com.br/glossario-dos-jogos/' target='_blank' rel='external noopener') gameplay
              | , mutá-lo não irá adiantar, porém, você pode tentar - além de ignorá-lo - 
              strong manter distância dele
              | , assim será menos provável ele conseguir fazer algo para afetar você em especial.
            h2 próximos passos
            p
              | Sendo assim, sua 
              strong missão
              |  a partir de agora é 
              strong descobrir
              |  com quem e de quais formas você é tóxico. 
              strong Cuidado com o perigo da ilusão
              | , provavelmente você é tóxico, mesmo que esta toxicidade não seja 
              strong proposital
              | . Boa sorte em sua jornada, pequenx gafanhotx, see ya!
            h2 referências
            cite -
            hr
          //.blog__article-page__share
            p compartilhe este artigo no:
            a.link(href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" rel="noopener" target="_blank") twitter
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") facebook
            a.link(href="https://www.facebook.com/sharer/sharer.php?u=<URL>" rel="noopener" target="_blank") linkedin
              
    footer.footer
      .footer__social-media
        p.footer__social-media__text confira minhas redes sociais
        .footer__social-media__links
          a.footer__social-media__links__link(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
          a.footer__social-media__links__link(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
          a.footer__social-media__links__link(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
          a.footer__social-media__links__link(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
      .footer__message
        p.footer__message__text feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.