$main: #2f4f4f;
$base-text: #333;
$bg-selection: #ff0;
$white: #fff;

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
button {
  font-family: "Comic Neue", sans-serif;
  font-size: 62.5%;
  transition: all 0.69s ease;
  letter-spacing: 0.032em;
}

::selection {
  background-color: $bg-selection;
  color: $main;
}

:-moz-selection {
  background-color: $bg-selection;
  color: $main;
}

.blog {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;

  &__header {
    height: 108px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

    img {
      width: 48px;
      height: 48px;
      float: left;
      transition: 0.2s;
      margin-right: 16px;
      float: left;

      &:hover {
        cursor: pointer;
        transform: translateX(2px);
      }
      &:active {
        transform: translate(2px, 2px);
      }
    }

    &__name {
      font-size: 2.8em;
      color: $main;
      padding: 8px;
      float: left;
      span {
        background: $bg-selection;
      }
    }

    &__portfolio {
      margin-top: 6px;
      float: right;
    }
  }
  //begin article
  &__article-page {
    width: 100%;
    &__content {
      margin: 0 auto;
      max-width: 840px;
      &__h1 {
        font-family: "Nunito", sans-serif;
        font-weight: 900;
        font-size: 2.8em;
        color: $main;
        line-height: 1.2em;
      }
      &__h2 {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        line-height: 1em;
        font-size: 2.4em;
        margin-top: 0.8em;
      }
      &__h3 {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        line-height: 1em;
        font-size: 2.2em;
        margin-top: 0.6em;
      }
      &__h4 {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        line-height: 1em;
        font-size: 2em;
        margin-top: 0.5em;
      }
      &__span {
        font-size: 1.4em;
        display: block;
        margin-bottom: 0.4em;
      }
      &__p,
      &__text {
        //font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 1.8em;
        color: $base-text;
        line-height: 1.8em;
      }
      &__a {
        color: lighten($main, 12%);
        font-size: 1.8em;
        text-decoration: underline;
        &:hover {
          color: $main;
          transition: 0.1s;
        }
      }
    }
  }
}
//end article
.footer {
  width: 100%;
  height: 480px;
  background-color: $main;

  &__social-media {
    width: 256px;
    height: 240px;
    margin: auto;
    text-align: center;

    p {
      width: 100%;
      text-align: center;
      padding-top: 160px;
      margin-bottom: -80px;
      font-size: 2em;
      color: $white;
    }

    a {
      margin-right: 8px;
      margin-left: 8px;
    }

    &__icon {
      width: 48px;
      height: 48px;
      border: 1px solid rgba(255, 255, 255, 0.69);
      padding: 13.5px;
      border-radius: 50%;
      margin-top: 108px;

      &:hover {
        border-color: rgba(255, 255, 255, 1);
        cursor: pointer;
        transition: 0.2s;
      }
    }

    i {
      color: $white !important;
    }
  }

  &__message {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.88);
    font-size: 14px;
    margin-top: 64px;

    i:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

//begin bootstrap
.tooltip-inner {
  background-color: $white;
  color: $main;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: $white !important;
}
//end bootstrap

.primary-button {
  font-size: 1.8em;
  font-weight: 400;
  color: $white;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: $main;
  border: 2px solid $main;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);

  &:hover {
    -moz-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    -webkit-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    background-color: $main;
    color: $white;
    cursor: pointer;
  }
  &:active {
    transform: translateY(2px);
    -moz-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
  }
}

.secondary-button {
  font-size: 1.8em;
  font-weight: 400;
  color: $main;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: $white;
  border: 2px solid $main;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);

  &:hover {
    -moz-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    -webkit-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    background-color: $main;
    color: $white;
    cursor: pointer;
  }
  &:active {
    transform: translateY(2px);
    -moz-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
  }
}

.link {
  color: $main;
  text-decoration: underline;
  font-weight: 400;

  &:hover {
    color: lighten($main, 12%);
  }
  &:active {
    color: darken($main, 4%);
  }
}

//mobile
@media (max-width: 767px) {
  .blog {
    margin: 0 auto;
    width: 100%;
    &__header {
      padding: 24px;
      padding-bottom: 0;
      height: 100px;
      width: 100%;
      &__name {
        display: none;
      }
    }
    &__article-page {
      &__content {
        margin: 18px;
      }
    }
  }
}

//tablet
@media (min-width: 768px) and (max-width: 1199px) {
  .blog {
    margin: 0 auto;
    width: 100%;
    &__header {
      padding: 24px;
      padding-bottom: 0;
      height: 100px;
      width: 100%;
    }
    &__article-page {
      &__content {
        padding: 16px;
      }
    }
  }
}
