$main: #2f4f4f;
$base-text: #444;
$base-text-lighter: #555;
$bg-selection: #ff0;
$white: #fff;

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body,
input,
textarea,
button {
  font-family: "Comic Neue", sans-serif;
  font-size: 62.5%;
  letter-spacing: 0.032em;
}

::selection {
  background-color: $bg-selection;
  //color: $main;
}

:-moz-selection {
  background-color: $bg-selection;
  //color: $main;
}

.blog {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;

  &__header {
    height: 108px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

    img {
      width: 48px;
      height: 48px;
      float: left;
      transition: 0.2s;
      margin-right: 16px;
      float: left;

      &:hover {
        cursor: pointer;
        transform: translateX(2px);
      }
      &:active {
        transform: translate(2px, 2px);
      }
    }

    &__name {
      font-size: 2.8em;
      color: $main;
      padding: 8px;
      float: left;
      span {
        background: $bg-selection;
      }
    }

    &__portfolio {
      margin-top: 6px;
      float: right;
    }
  }
  //homepage
  &__homepage {
    margin: 0 auto;
    &__categories-text {
      font-size: 2em;
      color: $main;
      text-align: center;
      margin-bottom: 28px;
      &__category {
        margin-left: 24px;
      }
    }
    &__card-section {
      display: grid;
      grid-row-gap: 44px;
      max-width: 1024px;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
      &__card {
        width: 300px;
        height: 250px;
        border-radius: 6px;
        overflow: hidden;
        -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
        -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
        box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
        &:hover {
          -moz-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
          -webkit-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
          box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
          transition: 0.2s;
          cursor: pointer;
        }
        &:active {
          transform: translateY(2px);
          -moz-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
          -webkit-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
          box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
          transition: 0.1s;
        }
        img {
          width: 300px;
          height: 167.75px;
          border-bottom: 1px solid $main;
        }
        &__info {
          width: 300px;
          height: 20px;
          padding: 8px;
          padding-top: 4px;

          &__reading-time {
            width: 140px;
            font-size: 1.4em;
            font-weight: 400;
            color: $main;
            float: left;
            margin-bottom: 0;
          }
          &__publish-date {
            width: 300px;
            font-size: 1.4em;
            font-weight: 400;
            color: $main;
            text-align: center;
            margin-bottom: 0;
          }
        }
        &__title {
          word-wrap: break-word;
          font-size: 2.1em;
          line-height: 1.1em;
          color: $main;
          padding: 0 8px;
          padding-top: 6px;
        }
      }
    }
  }
  //end homepage
  //begin article-page
  &__article-page {
    width: 100%;
    &__content {
      margin: 0 auto;
      max-width: 840px;
      h1 {
        font-family: "Nunito", sans-serif;
        font-weight: 900;
        font-size: 4.4em;
        color: $main;
        line-height: 1.2em;
      }
      h2 {
        font-family: "Nunito", sans-serif;
        font-weight: 800;
        line-height: 1em;
        font-size: 3.6em;
        margin-top: 0.8em;
      }
      h3 {
        font-family: "Nunito", sans-serif;
        font-weight: 800;
        line-height: 1em;
        font-size: 2.8em;
        margin-top: 0.6em;
      }
      h4 {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        line-height: 1em;
        font-size: 2.4em;
        margin-top: 0.5em;
      }

      h5 {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        line-height: 1em;
        font-size: 2em;
        margin-top: 0.5em;
      }

      h6 {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        line-height: 1em;
        font-size: 1.8em;
        margin-top: 0.5em;
      }

      text {
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        font-size: 1.4em;
        color: $base-text;
        float: center;
        line-height: 1.6em;
      }

      p {
        //font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 1.8em;
        color: $base-text;
        line-height: 1.8em;
      }
      a {
        color: lighten($main, 9%);
        text-decoration: underline;
        &:hover {
          color: $main;
          transition: 0.1s;
        }
      }
      li {
        font-size: 1.8em;
      }
      q {
        font-size: 1.8em;
      }
      blockquote {
        font-size: 1.8em;
        font-style: italic;
        color: $base-text-lighter;
      }
      cite {
        font-size: 1.8em;
        font-style: normal;
        font-weight: 400;
        color: $base-text-lighter;

        a {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
      address {
        font-size: 1.8em;
      }
      abbr {
        font-size: 1.8em;
      }
      strong {
        font-weight: 1.8em;
        font-weight: 700;
      }
      hr {
        margin: 12px 0;
        border-top: 1px solid rgba(47, 79, 79, 0.33);
        border-radius: 8px;
      }
      br {
        line-height: 2em;
      }
    }
    &__share {
      display: flex;
      justify-content: left;
      align-content: left;
      width: 840px;
      margin: 0 auto;
      font-size: 1.8em;
      font-weight: 700;

      p {
        margin-right: 16px;
      }

      a {
        margin-right: 16px;
        color: lighten($main, 9%);
        text-decoration: underline;
        &:hover {
          color: $main;
          transition: 0.1s;
        }
      }
    }
  }
}
//end article page
.footer {
  margin-top: 44px;
  width: 100vw;
  height: 360px;
  background-color: $main;

  &__social-media {
    width: 256px;
    height: 240px;
    margin: auto;
    text-align: center;

    p {
      width: 100%;
      text-align: center;
      padding-top: 104px;
      margin-bottom: -80px;
      font-size: 2em;
      color: $white;
    }

    a {
      margin-right: 8px;
      margin-left: 8px;
    }

    &__icon {
      width: 48px;
      height: 48px;
      border: 1px solid rgba(255, 255, 255, 0.69);
      padding: 13.5px;
      border-radius: 50%;
      margin-top: 108px;

      &:hover {
        border-color: rgba(255, 255, 255, 1);
        cursor: pointer;
        transition: 0.2s;
      }
    }

    i {
      color: $white !important;
    }
  }

  &__message {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.88);
    font-size: 14px;
    margin-top: 4px;

    i:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

//begin bootstrap
.tooltip-inner {
  background-color: $white;
  color: $main;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: $white !important;
}
//end bootstrap

.primary-button {
  font-size: 1.8em;
  font-weight: 400;
  color: $white;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: $main;
  border: 2px solid $main;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);

  &:hover {
    -moz-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    -webkit-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    background-color: $main;
    color: $white;
    cursor: pointer;
  }
  &:active {
    transform: translateY(2px);
    -moz-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
  }
}

.secondary-button {
  font-size: 1.8em;
  font-weight: 400;
  color: $main;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: $white;
  border: 2px solid $main;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);

  &:hover {
    -moz-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    -webkit-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    background-color: lighten($main, 50%);
    color: $white;
    cursor: pointer;
  }
  &:active {
    transform: translateY(2px);
    -moz-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
  }
}

.link {
  color: $main;
  text-decoration: underline;
  font-weight: 400;

  &:hover {
    color: lighten($main, 12%);
  }
  &:active {
    color: darken($main, 4%);
  }
}

//mobile
@media (max-width: 767px) {
  .blog {
    margin: 0 auto;
    width: 100%;
    &__header {
      padding: 24px;
      padding-bottom: 0;
      height: 100px;
      width: 100%;
      &__name {
        display: none;
      }
    }
    &__homepage {
      text-align: center;
      &__card-section {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-row-gap: 36px;
        &__card {
          text-align: left;
          margin: 0 auto;
        }
      }
    }
    &__article-page {
      &__content {
        margin: 18px;
        margin-top: 0px;
        word-wrap: break-word;
        h1 {
          font-size: 4em;
        }
      }
      &__share {
        width: 100%;
        display: block;
        font-size: 2em;
        margin: 18px;
      }
    }
  }
}

//tablet
@media (min-width: 768px) and (max-width: 1199px) {
  .blog {
    margin: 0 auto;
    width: 100%;
    &__header {
      padding: 24px;
      padding-bottom: 0;
      height: 100px;
      width: 100%;
    }
    &__homepage {
      text-align: center;
      &__categories-text {
        margin-bottom: 40px;
      }
      &__card-section {
        &__card {
          margin: 0 auto;
        }
      }
    }
    &__article-page {
      &__content {
        padding: 16px;
      }
    }
  }
}
