doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include includes/head
  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-N8WW2TZ' height='0' width='0' style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    .blog
      header.blog__header
        a(href="https://blog.kevinnicolasbq.com/")
          img(src="img/logomark.svg" alt="logomarca kevinnicolasbq")
        h1.blog__header__name
          span kevin quintino
        a(href="https://kevinnicolasbq.com/")
          input.blog__header__portfolio.primary-button(type="button" value="confira meu portfolio")
      section.blog__homepage
        p.blog__homepage__categories-text artigos sobre:
          a.blog__homepage__categories-text__category.link(href="?=design" onclick="changeCategory('design')") design
          a.blog__homepage__categories-text__category.link(href="?=esports" onclick="changeCategory('esports')") esports
        .blog__homepage__card-section
          a(href="https://blog.kevinnicolasbq.com/artigos/apenas-minusculas.html" style="text-decoration: none;")
            .blog__homepage__card-section__card
              img(alt="").blog__homepage__card-section__card__image
              .blog__homepage__card-section__card__info
                //p.blog__homepage__card-section__card__info__reading-time 20 minutos de leitura
                p.blog__homepage__card-section__card__info__publish-date não publicado
              h1.blog__homepage__card-section__card__title apenas minúsculas (lowercase-only)
          a(href="https://blog.kevinnicolasbq.com/artigos/minimapa-nos-jogos.html" style="text-decoration: none;")
            .blog__homepage__card-section__card
              img.blog__homepage__card-section__card__image
              .blog__homepage__card-section__card__info
                p.blog__homepage__card-section__card__info__publish-date 02 de fevereiro de 2020
              h1.blog__homepage__card-section__card__title Aprenda a utilizar melhor o minimapa nos jogos
    footer.footer
      .footer__social-media
        p confira minhas redes sociais
        .footer__social-media__links
          a(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
          a(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
          a(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
          a(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
      .footer__message
        p feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.