html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

body,
input,
textarea,
button {
  font-family: "Comic Neue", sans-serif;
  font-size: 62.5%;
  transition: all 0.69s ease;
  letter-spacing: 0.032em; }

mark {
  background-color: #ffe383;
  padding: 0;
  color: #2f4f4f; }

*:focus {
  outline: none; }

*:focus-visible {
  outline-color: #4d8282 !important;
  outline-offset: 2px !important;
  outline-style: dashed !important;
  outline-width: 2px !important;
  transition: 0.1s; }

::selection {
  background-color: #ffe383;
  color: #2f4f4f; }

:-moz-selection {
  background-color: #ffe383;
  color: #2f4f4f; }

.blog {
  max-width: 1200px;
  margin: 0 auto; }
  .blog__header {
    height: 80px;
    padding-top: 32px;
    padding-left: 0px;
    padding-right: 0px; }
    .blog__header img {
      width: 48px;
      height: 48px;
      float: left;
      transition: 0.2s;
      float: left; }
      .blog__header img:hover {
        cursor: pointer;
        transform: translateX(2px); }
      .blog__header img:active {
        transform: translate(1px, 1px); }
    .blog__header__name {
      font-size: 2.8em;
      color: #2f4f4f;
      padding: 8px;
      float: left;
      margin-left: 16px; }
    .blog__header__portfolio {
      margin-top: 6px;
      float: right; }
  .blog__homepage {
    margin: 0 auto; }
    .blog__homepage__categories-text {
      font-size: 2em;
      color: #2f4f4f;
      text-align: center;
      line-height: 43px; }
      .blog__homepage__categories-text__category-selection {
        margin-left: 24px;
        height: 43px;
        width: fit-content;
        border-radius: 6px;
        -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
        -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
        box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44); }
        .blog__homepage__categories-text__category-selection__subject {
          display: inline-block; }
          .blog__homepage__categories-text__category-selection__subject-first {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            font-size: 1.8em;
            color: #2f4f4f;
            padding: 8px 16px;
            border-right: 1px solid #2f4f4f; }
            .blog__homepage__categories-text__category-selection__subject-first:hover {
              background-color: #dbeaea;
              cursor: pointer;
              transition: 0.2s; }
            .blog__homepage__categories-text__category-selection__subject-first:active {
              background-color: #c1dada;
              transition: 0.1s; }
          .blog__homepage__categories-text__category-selection__subject-middle {
            font-size: 1.8em;
            color: #2f4f4f;
            padding: 8px 16px;
            border-right: 1px solid #2f4f4f; }
            .blog__homepage__categories-text__category-selection__subject-middle:hover {
              background-color: #dbeaea;
              cursor: pointer;
              transition: 0.2s; }
            .blog__homepage__categories-text__category-selection__subject-middle:active {
              background-color: #c1dada;
              transition: 0.1s; }
          .blog__homepage__categories-text__category-selection__subject-last {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            font-size: 1.8em;
            color: #2f4f4f;
            padding: 8px 16px; }
            .blog__homepage__categories-text__category-selection__subject-last:hover {
              background-color: #dbeaea;
              cursor: pointer;
              transition: 0.2s; }
            .blog__homepage__categories-text__category-selection__subject-last:active {
              background-color: #c1dada;
              transition: 0.1s; }
    .blog__homepage__card-section {
      display: grid;
      grid-row-gap: 44px;
      max-width: 1024px;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(322px, 1fr)); }
      .blog__homepage__card-section__card {
        margin: 0 auto;
        width: 300px;
        height: 250px;
        border-radius: 6px;
        overflow: hidden;
        -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
        -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
        box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44); }
        .blog__homepage__card-section__card:hover {
          -moz-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
          -webkit-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
          box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
          transition: 0.2s;
          cursor: pointer; }
        .blog__homepage__card-section__card:active {
          transform: translateY(2px);
          -moz-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
          -webkit-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
          box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
          transition: 0.1s; }
        .blog__homepage__card-section__card img {
          width: 300px;
          height: 167.75px;
          border-bottom: 1px solid #2f4f4f; }
        .blog__homepage__card-section__card__info {
          width: 300px;
          height: 20px;
          padding: 8px;
          padding-top: 4px; }
          .blog__homepage__card-section__card__info__reading-time {
            width: 140px;
            font-size: 1.4em;
            font-weight: 400;
            color: #2f4f4f;
            float: left;
            margin-bottom: 0; }
          .blog__homepage__card-section__card__info__publish-date {
            width: 300px;
            font-size: 1.4em;
            font-weight: 400;
            color: #2f4f4f;
            text-align: center;
            margin-bottom: 0; }
        .blog__homepage__card-section__card__title {
          word-wrap: break-word;
          font-size: 2.1em;
          line-height: 1.1em;
          color: #2f4f4f;
          padding: 0 8px;
          padding-top: 6px; }
  .blog__article-page {
    width: 100%; }
    .blog__article-page__content {
      margin: 0 auto;
      max-width: 840px; }
      .blog__article-page__content h1 {
        font-family: "Nunito", sans-serif;
        font-weight: 900;
        font-size: 4.4em;
        color: #2f4f4f;
        line-height: 1.2em; }
      .blog__article-page__content h2 {
        font-family: "Nunito", sans-serif;
        font-weight: 800;
        line-height: 1em;
        font-size: 3.6em;
        margin-top: 0.8em; }
      .blog__article-page__content h3 {
        font-family: "Nunito", sans-serif;
        font-weight: 800;
        line-height: 1em;
        font-size: 2.8em;
        margin-top: 0.6em;
        color: #555; }
      .blog__article-page__content h4 {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        line-height: 1em;
        font-size: 2.4em;
        margin-top: 0.5em;
        color: #555; }
      .blog__article-page__content h5 {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        line-height: 1em;
        font-size: 2em;
        margin-top: 0.5em;
        color: #555; }
      .blog__article-page__content h6 {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        line-height: 1em;
        font-size: 1.8em;
        margin-top: 0.5em;
        color: #555; }
      .blog__article-page__content text {
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        font-size: 1.4em;
        color: #444;
        float: center;
        line-height: 1.6em; }
      .blog__article-page__content p {
        font-weight: 400;
        font-size: 1.8em;
        color: #444;
        line-height: 1.8em; }
      .blog__article-page__content li {
        font-size: 1.8em; }
      .blog__article-page__content iframe {
        width: 640px;
        height: 360px;
        display: block;
        margin: 0 auto; }
      .blog__article-page__content figcaption {
        font-size: 1.6em;
        text-align: center;
        padding: 6px;
        color: #555; }
      .blog__article-page__content q {
        font-size: 1.8em; }
      .blog__article-page__content blockquote {
        font-size: 1.8em;
        line-height: 1.8em;
        font-style: italic;
        border-left: 4px solid #2f4f4f;
        border-radius: 4px;
        padding-left: 16px;
        color: #555; }
      .blog__article-page__content cite {
        font-size: 1.8em;
        font-style: normal;
        font-weight: 400;
        color: #555; }
        .blog__article-page__content cite a:hover {
          cursor: pointer; }
      .blog__article-page__content address {
        font-size: 1.8em; }
      .blog__article-page__content abbr {
        font-size: 1.8em; }
      .blog__article-page__content strong {
        font-weight: 1.8em;
        font-weight: 700; }
      .blog__article-page__content hr {
        margin: 12px 0;
        border-top: 1px solid rgba(47, 79, 79, 0.33);
        border-radius: 8px; }
      .blog__article-page__content br {
        line-height: 2.4em; }
      .blog__article-page__content ul {
        color: #444; }
      .blog__article-page__content img {
        display: block;
        margin: 0 auto;
        padding: 8px;
        padding-bottom: 0; }
      .blog__article-page__content figcaption {
        margin-top: -8px;
        padding-top: 0; }
    .blog__article-page__share {
      display: flex;
      justify-content: left;
      align-content: left;
      width: 840px;
      margin: 0 auto;
      font-size: 1.8em;
      font-weight: 700; }
      .blog__article-page__share p {
        margin-right: 16px; }
      .blog__article-page__share a {
        margin-right: 16px; }

.footer {
  margin-top: 44px;
  width: 100vw;
  height: 360px;
  background-color: #2f4f4f; }
  .footer__social-media {
    width: 256px;
    height: 240px;
    padding-top: 104px;
    margin: auto;
    text-align: center; }
    .footer__social-media h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
      font-size: 2em;
      color: #fff; }
    .footer__social-media__links {
      padding-top: 0;
      margin-top: 28px; }
      .footer__social-media__links a {
        margin-right: 8px;
        margin-left: 8px; }
      .footer__social-media__links__icon {
        width: 48px;
        height: 48px;
        border: 1px solid rgba(255, 255, 255, 0.69);
        padding: 13.5px;
        border-radius: 50%; }
        .footer__social-media__links__icon:hover {
          border-color: white;
          background-color: #3a6262;
          cursor: pointer;
          transition: 0.2s; }
      .footer__social-media__links i {
        color: #fff !important; }
  .footer__message {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.88);
    font-size: 14px;
    margin-top: 4px; }
    .footer__message i:hover {
      color: white; }

.tooltip-inner {
  background-color: #fff;
  color: #2f4f4f; }

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #fff !important; }

.primary-button {
  font-size: 1.8em;
  font-weight: 400;
  color: #fff;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: #2f4f4f;
  border: 2px solid #2f4f4f;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44); }
  .primary-button:hover {
    -moz-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    -webkit-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    background-color: #2f4f4f;
    color: #fff;
    cursor: pointer; }
  .primary-button:active {
    transform: translateY(2px);
    -moz-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4); }

.secondary-button {
  font-size: 1.8em;
  font-weight: 400;
  color: #2f4f4f;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #2f4f4f;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44); }
  .secondary-button:hover {
    -moz-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    -webkit-box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    box-shadow: 0px 4px 12px rgba(47, 79, 79, 0.44);
    background-color: #aecfcf;
    color: #fff;
    cursor: pointer; }
  .secondary-button:active {
    transform: translateY(2px);
    -moz-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4);
    box-shadow: 0.4px 1.6px 12px rgba(47, 79, 79, 0.4); }

.link {
  color: inherit;
  border-bottom: 2px solid #2f4f4f;
  border-radius: 2px;
  text-decoration: none;
  font-weight: inher;
  cursor: pointer; }
  .link:hover {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid #2f4f4f; }
  .link:active {
    text-decoration: none;
    color: #2f4f4f;
    border-bottom: 3px solid #2f4f4f;
    transition: 0.1s; }

.link-alternative {
  color: inherit;
  border-bottom: 2px solid #ffe383;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer; }
  .link-alternative:hover {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid #ffe383; }
  .link-alternative:active {
    text-decoration: none;
    color: #ffe383;
    border-bottom: 3px solid #ffe383;
    transition: 0.1s; }

@media (max-width: 767px) {
  .blog {
    margin: 0 auto;
    width: 100%; }
    .blog__header {
      padding: 24px;
      padding-bottom: 0;
      height: 100px;
      width: 100%; }
      .blog__header__name {
        display: none; }
    .blog__homepage {
      text-align: center; }
      .blog__homepage__card-section {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-row-gap: 36px; }
        .blog__homepage__card-section__card {
          text-align: left;
          margin: 0 auto; }
    .blog__article-page__content {
      margin: 18px;
      margin-top: 0px;
      word-wrap: break-word; }
      .blog__article-page__content h1 {
        font-size: 4em; }
      .blog__article-page__content iframe {
        width: 320px;
        height: 180px; }
    .blog__article-page__share {
      width: 100%;
      display: block;
      font-size: 2em;
      margin: 18px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .blog {
    margin: 0 auto;
    width: 100%; }
    .blog__header {
      padding: 24px;
      padding-bottom: 0;
      height: 100px;
      width: 100%; }
    .blog__homepage {
      text-align: center; }
      .blog__homepage__categories-text {
        margin-bottom: 40px; }
      .blog__homepage__card-section__card {
        margin: 0 auto; }
    .blog__article-page__content {
      padding: 16px; } }
